<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cat.inspiracio.calculator"
	android:versionCode="10000"
	android:versionName="1.00.00"
>
    <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="7" />

	<application
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
	>
		<activity
			android:name="cat.inspiracio.calculator.ComplexWorld"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateAlwaysHidden"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	
</manifest>